@import '../styles/variables.scss';
.patientAssessment {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $gradient;
    height: 630px;
    .leftSide {
        border-right: 2px solid $white;
        margin-right: 80px;
        .leftSideSelector {
            margin-right: 70px;
            .leftSideHeading {
                display: inline-block;
                font-family: 'TiemposHeadline-Medium';
                font-size: 170px;
                height: 185px;
                width: 185px;
                margin-bottom: 0px;
                margin-top: 0px;
                color: $white;
            }
            h2 {
                color: rgb(255, 255, 255);
                font-family: 'Avenir-Heavy';
                font-size: 22px;
                width: 200px;
                font-weight: 900;
                letter-spacing: 2.75px;
                line-height: 30px;
                text-align: center;
                text-transform: uppercase;
            }
        }
    }
    .bottomSide {
        .bottomSideHeading {
            font-family: 'Avenir-Heavy';
            font-size: 22px;
            letter-spacing: 2.75px;
            line-height: 30px;
            text-transform: uppercase;
            color: $white;
            margin-top: 0px;
        }
        .bottomSideText {
            font-family: 'TiemposText-Regular';
            font-size: 22px;
            font-weight: normal;
            line-height: 30px;
            color: $white;
        }
        .bottomSideImg {
            width: 60px;
            float: left;
        }
        h5 {
            display: inline-block;
            color: $white;
            margin-left: 25px;
        }
    }
    .additionalInformation {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $white;
        width: 500px;
        height: 500px;
    }
}