$white: rgb(255, 255, 255);
$blue: rgb(49, 120, 164);
$darkBlue: rgb(34, 61, 80);
$transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
$blackBlue: rgb(41, 98, 133);
$lightBlack: rgb(34, 61, 80);
$gradient: linear-gradient(-116.56505117707799deg, rgb(201, 128, 108) 0%, rgb(224, 157, 138) 100%);